#!/usr/bin/env bash
export BW_SESSION=$(bw unlock --raw)
export AUTH0_CLIENT_ID="$(bw get item mogul-auth0-client--production | jq -r '.fields[] | select(.name == "client-id") | .value')"
export AUTH0_CLIENT_SECRET="$(bw get item mogul-auth0-client--production | jq -r '.fields[] | select(.name == "client-secret") | .value')"
export AUTH0_DOMAIN="$(bw get item mogul-auth0-client--production | jq -r '.fields[] | select(.name == "domain") | .value')"
